@model IEnumerable<AddressPractice.Models.ADDRESS_MASTER>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.furigana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bloodType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeFurigana)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.furigana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bloodType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeFurigana)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
